from_latest_tag = false
ignore_merge_commits = false
ignore_fixup_commits = true
disable_changelog = false
disable_bump_commit = false
generate_mono_repository_global_tag = true
generate_mono_repository_package_tags = true
branch_whitelist = []
skip_ci = "[skip ci]"
skip_untracked = false
pre_bump_hooks = [
  "bash -c 'read -r -p \"Only bump if the most recent commit to master passed all checks. Did the most recent commit pass all checks? (y/N): \" response && [[ \"$response\" =~ ^[Yy]$ ]] || exit 1'",
  "jq '.version |= \"{{version}}\"' app/package.json > app/package.json.tmp && mv app/package.json.tmp app/package.json",
  "cd ./app && pnpm prettier --write package.json",
  "sed -i 's/const VERSION = \".*\"/const VERSION = \"{{version}}\"/' backend/lib/version.go",
  "cd ./backend && gofmt -s -w lib/version.go",
  "git add :/app/package.json",
  "git add :/backend/lib/version.go"
]
post_bump_hooks = [
  "git push --atomic origin master {{version_tag}}"
]
pre_package_bump_hooks = []
post_package_bump_hooks = []
tag_prefix="v"

[git_hooks]
[git_hooks.commit-msg]
script = """#!/bin/sh
set -e
cog verify --file $1
cog check
cd app && pnpm lintstaged && cd ..
cd backend && go vet && (gofmt -l . | grep -q . && exit 1 || exit 0) && cd ..
"""

[commit_types]

[changelog]
path = "CHANGELOG.md"
authors = []

[bump_profiles]

[packages]
