@import 'tailwindcss';
@plugin 'fluid-tailwindcss';
@plugin '@tailwindcss/typography';

@import '../lib/themes/day.css';
@import '../lib/themes/lilac.css';
@import '../lib/themes/midnight.css';
@import '../lib/themes/oasis.css';
@import '../lib/themes/sunset.css';
@import '../lib/themes/verdant.css';

@theme inline {
	--font-display: var(--font-display);
	--font-sans: var(--font-sans);
	--font-script: var(--font-script);

	--color-base-100: var(--color-base-100);
	--color-base-200: var(--color-base-200);
	--color-base-300: var(--color-base-300);
	--color-base-content: var(--color-base-content);
	--color-base-dots: var(--color-base-dots);
	--color-primary: var(--color-primary);
	--color-primary-content: var(--color-primary-content);
	--color-secondary: var(--color-secondary);
	--color-secondary-content: var(--color-secondary-content);
	--color-accent: var(--color-accent);
	--color-accent-content: var(--color-accent-content);
	--color-neutral: var(--color-neutral);
	--color-neutral-content: var(--color-neutral-content);
	--color-info: var(--color-info);
	--color-info-content: var(--color-info-content);
	--color-success: var(--color-success);
	--color-success-content: var(--color-success-content);
	--color-warning: var(--color-warning);
	--color-warning-content: var(--color-warning-content);
	--color-error: var(--color-error);
	--color-error-content: var(--color-error-content);

	--radius-selector: var(--radius-selector);
	--radius-field: var(--radius-field);
	--radius-box: var(--radius-box);

	--size-selector: var(--size-selector);
	--size-field: var(--size-field);
}

@utility flp-sm {
	@apply fl-py-[0.25/0.5] fl-px-[0.5/0.75];
}

@utility flp-md {
	@apply fl-py-[0.5/0.75] fl-px-[0.75/1];
}

@utility flp-lg {
	@apply fl-py-[0.75/1.25] fl-px-[1.25/2.5];
}

@utility flicon-md {
	@apply inline fl-size-3.5/5 -translate-y-px stroke-[1.5px];
}

strong,
.hljs-strong {
	font-weight: normal !important;
	text-shadow: 1px 0 0 currentColor;
}

:root,
* {
	scrollbar-gutter: auto;
}

.menu-title {
	@apply font-display tracking-(--font-display-tracking) select-none;
}

.font-display {
	@apply tracking-(--font-display-tracking) select-none;
}

.font-bold > .lucide {
	stroke-width: 3px;
}

/* #region HLJS */

:root {
	--hljs-quote: var(--hljs-comment);
	--hljs-name: var(--hljs-meta);
	--hljs-regexp: var(--hljs-meta);
	--hljs-selector-class: var(--hljs-meta);
	--hljs-selector-id: var(--hljs-meta);
	--hljs-tag: var(--hljs-meta);
	--hljs-template-variable: var(--hljs-meta);
	--hljs-variable: var(--hljs-meta);
	--hljs-deletion: var(--hljs-built_in);
	--hljs-link: var(--hljs-built_in);
	--hljs-literal: var(--hljs-built_in);
	--hljs-number: var(--hljs-built_in);
	--hljs-params: var(--hljs-built_in);
	--hljs-type: var(--hljs-built_in);
	--hljs-bullet: var(--hljs-addition);
	--hljs-string: var(--hljs-addition);
	--hljs-symbol: var(--hljs-addition);
	--hljs-keyword: var(--hljs-function);
	--hljs-selector-tag: var(--hljs-function);
	--hljs-section: var(--hljs-attribute);
	--hljs-title: var(--hljs-attribute);
}

pre code.hljs {
	display: block;
	overflow-x: auto;
	@apply p-2;
}

code.hljs {
	padding: 3px 5px;
}

.hljs {
	background: var(--hljs-background);
	color: var(--hljs-color);
	@apply rounded-box;
}

.hljs-comment,
.hljs-quote {
	color: var(--hljs-comment);
}

.hljs-meta,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
	color: var(--hljs-meta);
}

.hljs-built_in,
.hljs-deletion,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-type {
	color: var(--hljs-built_in);
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
	color: var(--hljs-addition);
}

.hljs-function,
.hljs-keyword,
.hljs-selector-tag {
	color: var(--hljs-function);
}

.hljs-attribute,
.hljs-section,
.hljs-title {
	color: var(--hljs-attribute);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: 700;
}

/* #endregion */

/* #region messages */

.sb-message {
	img {
		@apply my-1.5 max-h-80 max-w-80 rounded-box;
	}

	.hljs {
		@apply my-1.5;
	}

	blockquote {
		@apply box-border border-s-4 border-base-content/50 ps-1.5;
	}

	p:has(> .katex) {
		@apply my-1;
	}

	h1 {
		@apply font-display text-xl;
	}

	h2 {
		@apply font-display text-lg;
	}

	h3 {
		@apply text-xl font-semibold;
	}

	h4 {
		@apply text-lg font-semibold;
	}

	hr {
		@apply my-3;
	}

	ul {
		@apply ms-2 list-inside list-disc;
	}

	ul li::marker {
		content: '•  ';
	}

	ol {
		@apply ms-2 list-inside list-decimal;
	}

	a {
		@apply underline;
	}

	code {
		@apply rounded-box bg-base-100 px-0.75 font-mono;
	}
}

/* #endregion */

/* #region tinyMDE */

.TinyMDE {
	@apply h-full bg-inherit px-1 py-1.5 text-base text-inherit outline-none;
}

.TMBlankLine {
	@apply h-6;
}

.TMH1,
.TMSetextH1 {
	@apply font-display text-xl;
}

.TMSetextH1 {
	@apply mb-0;
}

.TMSetextH1Marker {
	@apply mb-0;
}

.TMH2,
.TMSetextH2 {
	@apply mb-0 font-display text-lg;
}

.TMH3,
.TMSetextH3 {
	@apply mb-0 text-xl font-semibold;
}

.TMSetextH3 {
	@apply mb-0;
}

.TMSetextH3Marker {
	@apply mb-0;
}

.TMH4,
.TMSetextH4 {
	@apply mb-0 text-lg font-semibold;
}

.TMMark_TMCode {
	@apply font-mono;
}

.TMFencedCodeBacktick,
.TMFencedCodeTilde,
.TMIndentedCode,
.TMCode {
	@apply rounded-box bg-base-300 font-mono;
}

.TMCodeFenceBacktickOpen,
.TMCodeFenceTildeOpen {
	@apply font-mono;
}

.TMCodeFenceBacktickClose,
.TMCodeFenceTildeClose {
	@apply font-mono;
}

.TMInfoString {
	@apply text-success;
}

.TMCode {
	@apply rounded-box bg-base-300 px-0.75 font-mono;
}

.TMBlockquote {
	@apply box-border border-s-4 border-base-content/50 ps-1.5;
}

.TMMark {
	/* TODO what is this for? */
	@apply text-base-content;
}

.TMMark_TMH1,
.TMMark_TMH2,
.TMMark_TMH3,
.TMMark_TMH4 {
	@apply text-accent;
}

.TMMark_TMUL,
.TMMark_TMOL {
	@apply text-secondary;
}

.TMImage {
	@apply underline decoration-success;
}

.TMLink {
	@apply underline;
}

.TMLinkTitle {
	font-style: italic;
}

.TMLinkDestination,
.TMAutolink {
	@apply underline;
}

/* #endregion */
