name: Build Docker Image

on:
  push:
    tags:
      - 'v*'

jobs:
  build-docker:
    runs-on: self-hosted
    
    permissions:
      contents: read
      packages: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Extract tag
      id: tag
      run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      
    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Build Docker images
      run: docker build -t ghcr.io/${{ github.repository }}:${{ steps.tag.outputs.tag }} -t ghcr.io/${{ github.repository }}:latest -t sunburnco/sunburn:${{ steps.tag.outputs.tag }} -t sunburnco/sunburn:latest .
        
    - name: Push Docker images
      run: |
        docker push ghcr.io/${{ github.repository }}:${{ steps.tag.outputs.tag }}
        docker push ghcr.io/${{ github.repository }}:latest
        docker push sunburnco/sunburn:${{ steps.tag.outputs.tag }}
        docker push sunburnco/sunburn:latest